# Local virtual environment files
.venv/

# Local development environment file
.env

# Streamlit specific files
.streamlit/

# Codespace and vs code settings
.vscode/
.devcontainer/

# Local Python cache files
__pycache__/
app/__pycache__/

