# Local virtual environment files
.venv/

# Local development environment file
.env

# Streamlit secret files
.streamlit/secrets.toml

# Codespace and vs code settings
.vscode/
.devcontainer/

# Local Python cache files
__pycache__/
app/__pycache__/

# Notes to myself
todo.md